
<div class="pt-4 text-center d-flex flex-column align-items-center">
  <img alt="" src="/assets/images/profile.webp/" class="profile-image">
  <h2 class="mt-2 mb-1">Mert Can Temel</h2>
  <p class="mb-2">J.Plt.Tğm</p>
</div>



<div class=" p-2 w-100">
  <ul class="list-group">
    <li class="list-group-item my-2 p-2 mat-elevation-z9 d-flex align-items-center"><mat-icon class="me-2">person</mat-icon>Kullanıcı Bilgileri</li>
    <li class="list-group-item my-2 p-2 mat-elevation-z9 d-flex align-items-center"><mat-icon class="me-2">flight_takeoff</mat-icon>Uçuş Kayıtları</li>
    <li class="list-group-item my-2 p-2 mat-elevation-z9 d-flex align-items-center"><mat-icon class="me-2">pin_drop</mat-icon>Koordinat Kayıtları</li>
    <li class="list-group-item my-2 p-2 mat-elevation-z9 d-flex align-items-center"><mat-icon class="me-2">description</mat-icon>İlave Bilgiler</li>
    <li class="list-group-item my-2 p-2 mat-elevation-z9 d-flex align-items-center"><mat-icon class="me-2">edit</mat-icon>Notlar</li>
  </ul>
</div>
