<div class="background">
<!--  <img src="././assets/images/s70background.jpg" alt="" style="height: 100%; width: 100%; position: fixed">-->
  <div class="d-flex justify-content-center">
    <div class="card p-5 bg-light bg-opacity-25">
      <div class="card-body">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column text-center">
            <span class="fw-bold fs-3 bg-light p-4 rounded">Loggerdinates Sistemine Hoşgeldiniz.</span>
          </div>
          <div class="d-flex justify-content-center mt-5">
            <button (click)="login()" mat-raised-button color="primary">Giriş Yap</button>
            <button routerLink="/signup" class="ms-2" mat-raised-button color="warn">Kayıt Ol</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
