.background {
  background: url('/assets/images/s70background.jpg') center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
